
img {
	width: 30%;
	float: left;
	margin: 1.66%; /*Done via math. Since each pic takes up 30% of space, we have 10% of the space left to split up evenly among the margins. */
}

p{
	font-family:Raleway;
	margin-left: 1.66%;
	font-size: 23px;
	font-weight: 800;
	text-transform: uppercase;
	border-bottom: 2px solid #f1f1f1;
	width: 30%;
	padding-bottom:20px;
}